@import '@app/style/mixins';
@import '@app/style/vars';

.pages {
    &-search {
        .ant-input-affix-wrapper {
            border-left: 0;
            border-radius: 0 !important;
            border-right: 0;
        }

        .ant-btn {
            border-radius: 0 !important;
        }
    }

    &-list {
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 10px;
    }
}