@import '@app/style/mixins';
@import '@app/style/vars';

.asset-icon {
    & {
        background: transparent;
        border-bottom: 1px solid $color-border;
        border-right: 1px solid $color-border;
        height: 100%;
        text-align: center;
        text-decoration: none;
    }

    &-title {
        @include truncate;
        padding-left: 5px;
        padding-right: 5px;
        line-height: 30px;
    }

    &-preview {
        line-height: 70px;
        max-height: 50px;
        min-height: 50px;
    }

    .fa {
        font-size: 36px;
    }
}

.asset-icons {
    &-search {
        .ant-input-affix-wrapper {
            border-left: 0 !important;
            border-radius: 0 !important;
            border-right: 0 !important;
        }

        .ant-select-selector {
            border-left: 0 !important;
            border-radius: 0 !important;
            border-right: 0 !important;
        }

        .ant-select {
            display: block;
            margin: 0;
            margin-top: 4px;
        }
    }

    &-list {
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}