@import '_mixins';
@import '_vars';

.asset-icon {
    & {
        background: transparent;
        border-bottom: 1px solid $color-border;
        border-right: 1px solid $color-border;
        text-align: center;
        text-decoration: none;
    }

    &-title {
        @include truncate;
        line-height: 30px;
    }

    &-preview {
        line-height: 100px;
        max-height: 70px;
        min-height: 70px;
    }

    .fa {
        font-size: 36px;
    }
}

.asset-icons {
    &-search {
        input {
            border-left: 0;
            border-radius: 0;
            border-right: 0;
        }

        .ant-select-selection {
            border-left: 0;
            border-radius: 0;
            border-right: 0;
        }

        .ant-select {
            display: block;
            margin: 0;
            margin-top: 4px;
        }
    }

    &-list {
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}