@import '_mixins';
@import '_vars';

.asset-icon {
    & {
        float: left;
        border-right: 1px solid $color-border;
        border-bottom: 1px solid $color-border;
        background: transparent;
        text-align: center;
        text-decoration: none;
        width: 50%;
    }

    &-preview {
        line-height: 120px;
    }

    &-title {
        line-height: 30px;
    }

    .fa {
        font-size: 42px;
    }
}

.asset-icons {
    &-search {
        input {
            @include border-radius(0);
            border-left: 0;
            border-right: 0;
        }
    }

    &-list {
        overflow-y: auto;
        margin-top: 0;
        margin-right: -1px;
    }
}