@import '@app/style/mixins';
@import '@app/style/vars';

.asset-shape {
    & {
        background: transparent;
        border-bottom: 1px solid $color-border;
        border-right: 1px solid $color-border;
        height: 100%;
        text-align: center;
        text-decoration: none;
    }

    &-title {
        @include truncate;
        padding-left: 5px;
        padding-right: 5px;
        line-height: 30px;
    }

    &-image {
        @include improve-image;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        height: 120px;
        justify-content: center;

        & > div {
            line-height: 0;
        }
    }
}

.asset-shapes {
    &-search {
        .ant-input-affix-wrapper {
            border-left: 0;
            border-radius: 0 !important;
            border-right: 0;
        }
    }

    &-list {
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}