@import '_mixins';
@import '_vars';

.asset-shape {
    & {
        background: transparent;
        border-bottom: 1px solid $color-border;
        border-right: 1px solid $color-border;
        height: 100%;
        text-align: center;
        text-decoration: none;
    }

    &-title {
        @include truncate;
        line-height: 30px;
    }

    &-image-row {
        line-height: 120px;
    }

    &-image {
        @include improve-image;
        max-height: 70px;
        max-width: 120px;
    }
}

.asset-shapes {
    &-search {
        .ant-input-affix-wrapper {
            border-left: 0;
            border-radius: 0 !important;
            border-right: 0;
        }
    }

    &-list {
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}