@import '_mixins';
@import '_vars';

.asset-shape {
    & {
        float: left;
        border-right: 1px solid $color-border;
        border-bottom: 1px solid $color-border;
        background: transparent;
        height: 150px;
        text-align: center;
        text-decoration: none;
        width: 50%;
    }

    &-title {
        @include truncate;
        line-height: 30px;
    }

    &-image-row {
        line-height: 120px;
    }

    &-image {
        max-width: 80%;
    }
}

.asset-shapes {
    &-search {
        input {
            @include border-radius(0);
            border-left: 0;
            border-right: 0;
        }
    }

    &-list {
        @include flex-grow(1);
    }
}

// sass-lint:disable class-name-format
.ReactVirtualized__Masonry__innerScrollContainer {
    right: -1px;
}