@import '_mixins';
@import '_vars';

// sass-lint:disable no-ids

#root {
    height: 100%;
}

#root > .ant-layout {
    height: 100%;
}

body {
    overflow: hidden;
}

.hidden {
    display: none;
}

.no-select {
    user-select: none;
}

.no-border-radius {
    border-radius: 0;
}

.ant-layout {
    &-header {
        padding-left: 100px;
        padding-right: 0;
        text-align: center;

        @media (max-width: 1000px) {
            text-align: left;
        }
    }

    &-content {
        &.editor-content {
            overflow-x: auto !important;
            overflow-y: auto !important;
        }
    }
}

.logo {
    @include fixed(0, 0, 0, 0);
    color: $color-dark-foreground;
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 50px;
}

//
// Typography
//

ul {
    &.blank {
        list-style: none;
    }
}

.section {
    padding-bottom: 10px;
}

//
// Sidebars
// 
.sidebar-left,
.sidebar-right {
    background: $color-dark-foreground;
    border-left: 1px solid $color-border;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-left {
    & {
        background: $color-dark-foreground;
        border-right: 1px solid $color-border;
        display: flex;
        flex-flow: column;
        flex-grow: 1;
    }

    .ant-layout-sider-children,
    .ant-tabs,
    .ant-tabs-content,
    .ant-tabs-tabpane,
    .tab-panel {
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        max-height: 100%;
        min-height: 0;
    }

    .ant-tabs-tabpane {
        flex-shrink: 1 !important;
    }
}

.sidebar-right {
    .ant-collapse {
        background: transparent;
    }
}

$toggle-button-top: 72px;
$toggle-button-offset-left: 10px;
$toggle-button-offset-right: 27px;
$sidebar-size: 320px;

.content {
    .toggle-button-left {
        & {
            @include absolute($toggle-button-top, auto, auto, $toggle-button-offset-left);
        }

        &.visible {
            left: $sidebar-size + $toggle-button-offset-left;
        }
    }

    .toggle-button-right {
        & {
            @include absolute($toggle-button-top, $toggle-button-offset-right, auto, auto);
        }

        &.visible {
            right: $sidebar-size + $toggle-button-offset-right;
        }
    }
}

//
// > Properties
//
.property {
    & {
        margin-bottom: .5rem;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &-label {
        padding-right: .5rem;
        padding-top: .25rem;
    }

    &-value {
        .ant-select {
            max-width: 100%;
            min-width: 100%;
        }
    }
}

.properties-subsection {
    & {
        margin-bottom: 1rem;
    }

    &:last-child {
        margin: 0;
    }
}

//
// > Menu Items
//
.menu {
    &-separator {
        background: $color-dark-foreground;
        border: 0;
        display: inline-block;
        height: 1rem;
        margin-left: .5rem;
        margin-right: .5rem;
        opacity: .8;
        width: 1px;
    }

    &-item,
    &-item > button {
        & {
            background: transparent !important;
            border: 0;
            border-radius: 0;
            color: $color-dark-foreground !important;
            max-height: 60px;
            min-height: 60px;
            opacity: .8;
        }

        &:hover {
            opacity: 1;
        }

        &:disabled {
            opacity: .4;
        }
    }
}

.print-mode {
    display: none;
}

@media print {
    .screen-mode {
        display: none;
    }

    .print-mode {
        display: block;
    }

    .ant-message {
        display: none;
    }

    .ant-dropdown {
        display: none;
    }

    #crowd-shortcut {
        display: none;
    }
}