/* stylelint-disable */

$color-background:          var(--color-background);
$color-toolbar-background:  var(--color-toolbar-background);
$color-canvas-background:   var(--color-canvas-background);

$color-border:              var(--color-border);
$color-border-dark:         var(--color-border-dark);
$color-border-darker:       var(--color-border-darker);

$color-title:               var(--color-title);
$color-text:                var(--color-text);
$color-text-decent:         var(--color-text-decent);
$color-tooltip:             var(--color-tooltip);
$color-input:               var(--color-input);

$color-theme-blue:          var(--color-theme-blue);
$color-theme-blue-dark:     var(--color-theme-blue-dark);
$color-theme-blue-darker:   var(--color-theme-blue-darker);
$color-theme-blue-lighter:  var(--color-theme-blue-lighter);
$color-theme-blue-light:    var(--color-theme-blue-light);
$color-theme-blue-lightest: var(--color-theme-blue-lightest);
$color-theme-secondary:     var(--color-theme-secondary);
$color-theme-secondary-dark:var(--color-theme-secondary-dark);

$color-theme-green:         var(--color-theme-green);
$color-theme-green-dark:    var(--color-theme-green-dark);
$color-theme-green-darker:  var(--color-theme-green-darker);
$color-theme-orange:        var(--color-theme-orange);
$color-theme-orange-dark:   var(--color-theme-orange-dark);
$color-theme-orange-darker: var(--color-theme-orange-darker);

$color-theme-error:         var(--color-theme-error);
$color-theme-error-dark:    var(--color-theme-error-dark);
$color-theme-error-darker:  var(--color-theme-error-darker);

$color-theme-info:          var(--color-theme-info);
$color-theme-info-dark:     var(--color-theme-info-dark);

$color-shadow-inner:        var(--color-shadow-inner);
$color-shadow-outer:        var(--color-shadow-outer);
$color-focus-shadow:        var(--color-focus-shadow);

$color-white:               var(--color-white);