$color-background:          #eef1f4;

$color-border:              #e8e8e8;
$color-border-dark:         darken($color-border, 5%);

$color-title:               #000;
$color-text:                #373a3c;
$color-text-decent:         #a9b2bb;
$color-tooltip:             #1a2129;

$color-theme-blue:          #3389ff;
$color-theme-blue-dark:     #297ff6;
$color-theme-blue-lighter:  #65a6ff;
$color-theme-blue-light:    #9ebeea;
$color-theme-blue-lightest: #d9e8fc;
$color-theme-secondary:     #d9dfe5;

$color-theme-green:         #4bb958;
$color-theme-green-dark:    #47b353;
$color-theme-orange:        #ffb136;
$color-theme-orange-dark:   #a65b00;

$color-theme-error:         #eb3142;
$color-theme-error-dark:    #c00;

$color-theme-info:          #5bc0de;

$color-dark-black:          #000;
$color-dark-foreground:     #fff;