@import '@app/style/mixins';
@import '@app/style/vars';

.recent {
    &-list {
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 10px;
    }

    &-item {
        margin-bottom: 15px;
    }
}