@import '_mixins';
@import '_vars';

$size: 24px;

.color-picker {
    &-button {
        &,
        & button {
            padding: 2px !important;
        }
    }

    &-colors {
        @include clearfix;
        max-width: 210px;
        min-width: 210px;
    }

    &-color {
        & {
            @include circle($size);
            background: $color-dark-foreground;
            border: 2px solid $color-border;
            border-radius: $size;
            display: inline-block;
            margin: 1px;
        }

        &.rect {
            background: transparent;
            border-color: transparent;
            border-radius: 0;
            float: none;
        }

        &-inner {
            @include circle($size - 6px);
            margin: 1px;
        }

        &:hover {
            border-color: $color-border-dark;
        }

        &.selected {
            border-color: $color-theme-blue;
        }
    }

    &-tabs {
        margin-top: -10px;
        max-height: 400px;
        min-height: 400px;
    }
}

.sketch-picker {
    background: 'none' !important;
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 0 !important;
}

span {
    &.color-picker-button {
        padding: 0 !important;
    }
}