@import '@app/style/mixins';
@import '@app/style/vars';

$size: 22px;

.color-picker {
    &-colors {
        @include clearfix;
        max-width: 210px;
        min-width: 210px;

        & .color-picker-color {
            margin-right: 2px;
            margin-bottom: 2px;
        }
    }

    &-color {
        & {
            @include circle($size);
            align-items: center;
            background: $color-background;
            border: 1px solid $color-border;
            border-radius: $size;
            box-sizing: border-box;
            display: inline-flex;
            justify-content: center;
        }

        &.rect {
            background: transparent;
            border-color: transparent;
            border-radius: 0;
            float: none;
        }

        &-inner {
            @include circle($size - 4px);
        }

        &:hover {
            border-color: $color-theme-blue;
        }

        &.selected {
            border-color: $color-theme-blue;
        }
    }

    &-tabs {
        margin-top: -10px;
        max-height: 400px;
        min-height: 400px;
    }
}

.sketch-picker {
    background: $color-background !important;
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 0 !important;
    
    input {
        background-color: $color-background !important;
        color: $color-text !important;
        border-color: $color-border !important;
        
        &:focus {
            border-color: $color-theme-blue !important;
        }
    }
    
    label {
        color: $color-text !important;
    }
}

span {
    &.color-picker-button {
        padding: 0 !important;
    }
}