@import '@app/style/mixins';
@import '@app/style/vars';

.editor {
    & {
        position: relative;
        height: 100%;
    }

    .pixi {
        @include absolute(0, 0, 0, 0);

        & > div {
            height: 100%;
        }
    }

    &-adorners {
        pointer-events: none;
    }
}