@import '_mixins';
@import '_vars';

.editor {
    & {
        border: 0;
        background: $color-dark-foreground;
        position: relative;
    }

    canvas {
        @include absolute(0, 0, 0, 0);
    }

    &-adorners  {
        pointer-events: none;
    }
}