@import '_mixins';
@import '_vars';

.editor {
    & {
        position: relative;
        border-radius: 0;
        border: 1px solid $color-border;
    }

    canvas {
        @include absolute(0, 0, 0, 0);
    }

    &-adorners {
        pointer-events: none;
    }
}