@import '@app/style/mixins';
@import '@app/style/vars';

.renderer {
    position: relative;
    padding: 5px;
    margin-bottom: 10px;

    &-canvas {
        background-color: $color-canvas-background;
        border: 3px solid $color-border-darker;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    &-layout {
        text-align: center;
    }

    &-zoom {
        @include hidden();
        @include absolute(null, null, 0, 0);
        z-index: 1000;
    }

    &:hover {
        .renderer {
            &-zoom {
                @include visible();
            }
        }
    }
} 