@import '@app/style/mixins';
@import '@app/style/vars';

.drag-layer {
    @include fixed(0, 0, 0, 0);
    pointer-events: none;

    & {
        z-index: 100000;
    }

    svg {
        position: absolute;
    }
}