@use '@app/style/mixins' as *;
@use '@app/style/vars' as *;

.editor {
    &-view {
        background: $color-background;
        border: 0;
        border-radius: 0;
        height: 100%;
        overflow: hidden;
    }

    &-diagram {
        height: 100%;
    }

    &-content {
        & > div {
            height: 100%;
        }
    }
}