@import '@app/style/mixins';
@import '@app/style/vars';

.editor {
    &-view {
        background: $color-background;
        border: 0;
        border-radius: 0;
        height: 100%;
        overflow-x: auto;
        overflow-y: auto;
    }

    &-diagram {
        margin: auto;
    }
}