@import '~antd/dist/antd.css';
@import 'style/icomoon/style.css';

#root {
    height: 100%;
}

#root > .ant-layout {
    height: 100%;
}

.editor-adorners  {
    pointer-events: none;
}

.editor-container { 
    position: relative; 
}

.editor-container canvas {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.menu-separator {
    display: inline-block;
    background: white;
    margin-right: .5rem;
    margin-left: .5rem;
    height: 1rem;
    width: 1px;
}

.menu-item {
    color: white !important;
    border: 0;
    background: transparent !important;
    font-size: 1.2rem;
    font-weight: normal;
    opacity: .9;
}

.menu-item:hover {
    opacity: 1;
}

.menu-item:disabled {
    opacity: .5;
}