name: PR

on:
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.2

      - name: Install Dependencies
        run: npm i

      - name: Run Tests 
        run: npm test
        
      - name: Run Build 
        run: npm run build
